@font-face {
    font-family: titulos;
    src: url(_fonts/bubblegum-sans-regular.otf);
}
*{
    margin: 0;
}
body{
    background: url("img/fundo.jpg") repeat-x;
    background-size: 100% 200px;
    font-size: 1.5em;
}
#main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;   
}
header{  
    width: 100%;
    margin-bottom: 1%;
}
/*area da img do menu*/
#img-menu{
 width: 35px;
 float: right;
 cursor: pointer;
 display: none;
}
h1, h4{
    font-family: titulos; 
}
h1{
    color: white;
    font-size: 4em;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(90, 75, 48);
}
h4{
    color: rgb(206, 186, 150);
    margin-left: 5%;
    display: inline;
}
#nav_header{
    float: right;
    border-radius: 10px;
    background-color: rgb(190, 1, 190);
    margin-top: 1%;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    float: left;
    padding: 10px; 
}
a{
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
li:hover{
    background-color:rgb(161, 3, 161);
    border-radius:10px ;
    color: black;
}
.conteudo{
    text-align: center;
}
.img{
    border: 8px solid #606060;
    box-shadow: 1px 1px 4px black;
}
hgroup h2{
    color: white;
}
h2{
    color: black;
    margin: 3px;
}
hgroup.grupo-img img{
    width: 95%; 
}
/* imagens duplas*/
.img_duo{
    width: 98%;
    padding: 1%;
}
.secoes_Duo1{
    width: 100%; 
    float: left; 
}
.secoes_Duo2{
    width: 100%;
    float: right;
}
hgroup.grupo-img{
    position: relative;
}
hgroup.grupo-img figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position:absolute;
    margin-top: 0;   
    background-color: rgba(0, 0, 0, 0.6) ; 
    box-sizing: border-box;
    color: white;
    width: 95%;
    left: 2.5%;
    text-align: center;
    transition: opacity 1s;
    margin: auto;
}
figcaption.legenda-imagem:hover{  
    opacity: 1;
}
/* CONFIGURANDO TABELA */
#tabela{
    text-align: center;
   width: 100%;
   margin: auto;
   padding: 1%;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    background-color: rgb(248, 240, 228);
    font-size: 1em
}
#tabela table th{
    border: 1px solid black;
    border-bottom: 3px solid #606060;
    background-color: rgb(250, 173, 71);
}
#tabela table td{
    border: 1px solid black;
    padding: 5px;
}
#tabela table td.codigo{
    background-color: rgb(250, 173, 71);
    border-right:3px solid #606060 ;
}
#tabela tr:hover{
    background-color: rgb(243, 205, 156);
}
/* FORMULARIO */
#formulario{
    text-align: center;
    width: 100%;
}
form{
    width: 100%;
    border: 6px solid purple;
    margin: auto;
    font-weight: bold;
    border-radius: 15px;
}
form input.nome{
    width: 95%;
    padding: 10px;
    margin: 0px;
    font-size: 1em;
}
input,select{
    border: 4px solid gray;
    border-radius:10px ;
}
label, legend{
    font-size: 1.2em;
}

form input.button, .button_finalizar, .button_cancelar{
    width: 95%;
    padding: 10px;
    margin: 2.5%;
    font-size: 1em;
    background-color:orange;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

input.button:hover{
    background-color:rgb(168, 111, 5);
}
/* BOTAO DE FINALIZAR E CANCELAR O PEDIDO */
.button_cancelar{
    width: 49%;
    background-color:rgb(247, 100, 100);
    float: right;
    margin: 0;
    margin-top: 2%;
}
.button_finalizar{
    width: 49%;
    background-color:rgb(91, 248, 91);
    margin: 0;
    margin-top: 2%;
    float: left;
}
.button_finalizar:hover{
    background-color:  rgb(121, 253, 121);
}
.button_cancelar:hover{
    background-color:rgb(247, 113, 113);
}
/* CONFIGURANDO O TAMANHO DAS PIZZAS */
input.radio{
    margin: 20px;
    padding: 0px;
    margin-right: 2px;
}
fieldset{
    margin: 15px;
}
/* CONFIGURANDO OS SABORES DAS PIZZAS */
.sabor{  
    width: 100%;
}
fieldset{  
    border: 3px solid gray;
    border-radius:10px ;
}
section select {
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 10px;
}
/* CONFIGURAÇÕES GERAIS DO FORMULARIO */
/* CONFIGURAÇÕES DO INPUT NUMBER */
fieldset.qtd-container input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}
/* CONFIRANDO O FILDSET DOS SABORES */
.saborEscolha{
    display: flex;
    flex-direction: column; 
    width: 36%;
    float:left;
    text-align: left;
    font-size: 1em;
}
.sabores{
    display:none ;
}
.doisSabores{
    float:right;
    width: 60%; 
    margin: 0;
    display: block;
}
.umSabor{
    float:right;
    width: 60%; 
    display: none; 
}
.select{
    width: 100%;
}
#sabores{
    display: none;
}
#saborPastel{
    display:block ;
}
.sabor input{
    width: 90%;
}
/*ESTILO DE TESTE DA IMG DA TABELA*/
.lixo:hover {  
    color:white;
    background-color: rgba(243, 23, 23, 0.973);
    cursor: pointer;
    transition: 1s;
}
#carrinho,
#pedidoFinalizado{
    width:100%;
    margin: auto;
    display:none; 
    margin-top: 5%;
    border: 2px solid #606060;
    padding: 5px;
    border-radius: 10px;
}
#carrinho table,
#pedidoFinalizado table{
    margin-top: 5px;
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 5px;
}
#carrinho td{
    border-bottom: 2px solid #ccc;
}
#carrinho th{
    border-bottom: 2px solid #888888;
    padding-right: 10px;
}
 table tr{
    background-color: white;
}
#pedidoFinalizado th{
    border-bottom: 2px solid #888888;
    padding-right: 10px;
    border-right: 1px solid #888888;
}
#pedidoFinalizado h4{
    color: orange; 
    margin: 5px;
    font-size: 1.4em;
}
h3{
    font-family: titulos;
    color: #606060;
    font-size: 1.8em;
}

.metades{
    font-size:1em ;
    color: black;
}
/*SEÇÃO DE MEDIAS QUERIES */
@media (min-width:901px) {
    .secoes_Duo1, .secoes_Duo2{
        float: left;
        width: 49%;
    } 
    .secoes_Duo2{
        float: right;
        width: 49%;
    }
    .img_duo{
        width: 98%;
        padding: 1%;
    }
}
@media(max-width:900px) {
    #nav_header{
       float: center;
       display:inline-flex;   
       margin-right: 1%;
       margin-top: 1.8%;
    }
    #nav_header li{
        padding:10px 5px;
        float: left;
    }
    #nav_header li a{
        padding: 5px;
    }
    .conteudo{
        margin-top:1%;
    }
    .titulos{
        text-align: center;
    }
    #tabela{
        width: 100%;
        margin: auto;
        background: none;
    }
    #tabela table{
        font-size: 0.65em;
        padding: 0;
    }
    header h1{
        padding: 0px;
    }
    #img-menu{
        display:block;
    }
    form input.nome{  
        width: 88%;
    }
}
